@reference "./globals.css";

.enter {
  animation: fadeIn 0.35s ease-out;
}

.layout {
  @apply flex flex-1 items-center justify-center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
